<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>
  </appSettings> 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMessageBoardService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51604/MessageBoardService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageBoardService"
                contract="MessageBoardService.IMessageBoardService" name="BasicHttpBinding_IMessageBoardService" />
    </client>
  </system.serviceModel>
</configuration>